{% extends '@SyliusShop/layout.html.twig' %}

{% import "@SyliusApisearchPlugin/Taxon/Static/_aggregations.html.twig" as _aggregations %}
{% import "@SyliusApisearchPlugin/Taxon/Static/_sort.html.twig" as _sort %}
{% import "@SyliusApisearchPlugin/Taxon/Static/_size.html.twig" as _size %}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/syliusapisearchplugin/css/apisearch.css'} %}
{% endblock %}

{% block content %}
    {% include '@SyliusShop/Product/Index/_header.html.twig' %}
    <div class="ui stackable grid">
        <div class="four wide column">
            {% include '@SyliusApisearchPlugin/Taxon/Static/_sidebar.html.twig' %}

            <div class="ui fluid vertical menu">
                <div class="header item">
                    {{ 'apisearch.ui.filters'|trans }}
                </div>

                {% for filter in result.getConfiguration().getFilters() %}
                    {{ _aggregations.printAggregation(result, filter['name']) }}
                {% endfor %}

                {% if result.getConfiguration().isShowPriceFilter() %}
                 {{ _aggregations.printPriceRange(result) }}
                {% endif %}
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui stackable grid">
                    <div class="two wide column">
                        <div class="item">
                            {{ _sort.printOrderBy(result) }}
                        </div>
                    </div>
                    <div class="two wide column">
                        <div class="item">
                            {{ _size.printSize(result) }}
                        </div>
                    </div>
                    {% if result.getConfiguration().isShowTextSearch() %}
                        <div class="seven wide column">
                            <div class="item">
                                <div class="ui fluid input">
                                    <input class="apisearch--query"
                                           autocomplete="off"
                                           placeholder="{{ 'apisearch.ui.fields.query' | trans }}"
                                           type="text"
                                           value="{{ app.request.get('q') | trim }}"
                                           name="q">
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="ui buttons">
                                <button type="submit" data-target=".apisearch--query" data-url="{{ result | remove_query }}" class="ui primary icon labeled button apisearch--search-button">
                                    <i class="search icon"></i> {{ 'sylius.ui.search'|trans }}</button>
                                <a href="{{ result | remove_query }}"
                                   class="ui negative icon labeled button">
                                    <i class="cancel icon"></i> {{ 'sylius.ui.clear'|trans }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if result.getResult().items | length > 0 %}
                <div class="ui three cards" id="products">
                    {% for product in result.getResult().items %}
                        {% include '@SyliusApisearchPlugin/Taxon/Static/_box.html.twig' %}
                    {% endfor %}
                </div>
                <div class="ui hidden divider"></div>

                {{ pagination.simple(pager) }}
            {% else %}
                {{ messages.info('sylius.ui.no_results_to_display') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@SyliusApisearchPlugin/Taxon/Static/_autocomplete.html.twig' with {'configuration': result.getConfiguration() } %}
    {% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': 'bundles/syliusapisearchplugin/js/apisearch-taxon.js'} %}
{% endblock %}
