{% extends '@SyliusShop/layout.html.twig' %}

{% import "@SyliusApisearchPlugin/Taxon/Static/_aggregations.html.twig" as _aggregations %}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block content %}
    {% include '@SyliusShop/Product/Index/_header.html.twig' %}
    <div class="ui stackable grid">
        <div class="four wide column">
            {% include '@SyliusApisearchPlugin/Taxon/Static/_sidebar.html.twig' %}

            <div class="ui fluid vertical menu">
                <div class="header item">
                    {{ 'apisearch.ui.filters'|trans }}
                </div>

                {% for filter in configuration.getFilters() %}
                    {{ _aggregations.printAggregation(result, filter['field']) }}
                {% endfor %}

                {{ _aggregations.printPriceRange(result) }}
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui stackable grid">
                    <div class="ten wide column">
                        {# Sorting #}
                        <div class="item">
                            <div class="ui fluid input">
                                <input placeholder="{{ 'apisearch.ui.fields.query' | trans }}" type="text" value=""
                                       name="q">
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui buttons">
                            <button type="submit" class="ui primary icon labeled button"><i
                                        class="search icon"></i> {{ 'sylius.ui.search'|trans }}</button>
                            <a href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}"
                               class="ui negative icon labeled button">
                                <i class="cancel icon"></i> {{ 'sylius.ui.clear'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% if result.items|length > 0 %}
                <div class="ui three cards" id="products">
                    {% for product in result.items %}
                        {% include '@SyliusApisearchPlugin/Taxon/Static/_box.html.twig' %}
                    {% endfor %}
                </div>
                <div class="ui hidden divider"></div>

                {{ pagination.simple(pager) }}
            {% else %}
                {{ messages.info('sylius.ui.no_results_to_display') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
